*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:#0b1120;
  color:#fff;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:16px 30px;
  background:#020617;
  position:sticky;
  top:0;
}

.logo{
  font-size:22px;
  font-weight:700;
  color:#38bdf8;
}

.menu a{
  color:#cbd5f5;
  margin-left:20px;
  text-decoration:none;
  font-size:14px;
}

.menu a:hover{
  color:#fff;
}

/* HERO */
.hero{
  height:85vh;
  background:linear-gradient(to right, #020617, #0f172a);
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero-content h1{
  font-size:38px;
  margin-bottom:12px;
}

.hero-content p{
  font-size:16px;
  color:#cbd5f5;
  margin-bottom:30px;
}

.primary-btn{
  background:#2563eb;
  padding:14px 34px;
  border-radius:8px;
  color:white;
  text-decoration:none;
  font-size:17px;
  font-weight:600;
}

.primary-btn:hover{
  background:#1e40af;
}

/* FEATURES */
.features{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  padding:40px 30px;
  background:#020617;
}

.card{
  background:#0f172a;
  padding:25px;
  border-radius:10px;
  text-align:center;
  font-size:16px;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
}

/* FOOTER */
.footer{
  text-align:center;
  padding:15px;
  background:#020617;
  font-size:13px;
  color:#94a3b8;
  }
